numpy==1.18.5
tqdm==4.55.0
editdistance==0.5.3
plotly==4.12.0
dash==1.17.0
SoundFile==0.10.3.post1
dash_table==4.11.0
librosa==0.8.0
dash_core_components==1.13.0
dash_html_components==1.1.1
diff_match_patch==20200713
dash_bootstrap_components==0.13.1
