[run]
concurrency = thread,multiprocessing
omit =
    /tmp/*
    /home/TestData/*
    /workspace/Megatron-LM/*
    nemo/collections/multimodal/*
    nemo/collections/multimodal_autoregressive/*
    nemo/collections/vision/*
    nemo/collections/diffusion/*
    nemo/collections/nlp/*

    nemo/collections/asr/*
    nemo/collections/speechlm/*
    nemo/collections/tts/*

    # omit from audio
    nemo/collections/audio/data/data_simulation.py
    nemo/collections/audio/metrics/squim.py
    nemo/collections/audio/losses/maxine/*
    nemo/collections/audio/models/maxine/*
    nemo/collections/audio/parts/utils/maxine.py

    nemo/core/*
    nemo/collections/common/*      

[paths]
source =
    nemo/
    /home/runner/work/NeMo/NeMo/nemo
    /workspace/nemo

