[submodule "megatron-lm"]
	path = megatron-lm
	url = https://gitlab-master.nvidia.com/ADLR/megatron-lm
    branch = main
[submodule "fastertransformer_backend"]
	path = fastertransformer_backend
	url = https://gitlab-master.nvidia.com/bhsueh/fastertransformer_backend.git
