[MAIN]
ignore-paths=tests,nemo/experimental
max-line-length=100

[MESSAGES CONTROL]
disable=all

enable=C0115,C0116,W0611,C0301
# C0115: missing-class-docstring
# C0116: missing-function-docstring
# W0611: unused-import
# C0301: line-too-long

