# CODEOWNERS
# When submitting merge requests ask owners whose component you touch for review
# When there are more than one owner, your need only one approval
# Ideally, we should have >1 owner per component

nemo/core @okuchaiev
nemo/docs @okuchaiev
# this should be more specific
nemo/backends @okuchaiev
# this should be more specific
nemo/collections/asr @okuchaiev @jasoli
# this should be more specific
nemo/collections/nlp @ohrinchuk @pcastonguay @okuchaiev
nemo/collections/lpr @jeffreys
nemo/examples/lpr @jeffreys
nemo/examples/image @okuchaiev
nemo/examples/start_here @okuchaiev
nemo/examples/asr @okuchaiev @jasonli
nemo/examples/nlp @ohrinchuk @pcastonguay @okuchaiev
nemo/utils @okuchaiev