pillow>=4.3.0
torch
ipython[all]
tqdm
sox
ruamel.yaml
jupyterlab
boto3
requests
six
ipdb
h5py
html2text
nltk
progressbar
matplotlib
wget
pandas
onnx
num2words
librosa
inflect
kaldi-io
marshmallow
unidecode
sentencepiece
youtokentome
frozendict
