/* Fonts */

@font-face {
    font-family: 'lato';
    src: url('lato-regular.woff2?#iefix') format('woff2'),
         url('lato-regular.woff') format('woff'),
         url('lato-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}