apex @ git+https://github.com/NVIDIA/apex.git@${APEX_TAG}
huggingface_hub>=0.24
llama-index==0.10.43
nemo_run @git+https://github.com/NVIDIA/NeMo-Run.git@${NEMO_RUN_TAG:-nightly}
numba
numpy>=1.22
nvidia-modelopt[torch]~=${MODELOPT_VERSION}
onnx>=1.7.0
onnxscript @ git+https://github.com/microsoft/onnxscript
python-dateutil
ruamel.yaml
scikit-learn
setuptools>=70.0.0
tensorboard
text-unidecode
torch
tqdm>=4.41.0
transformer-engine @ git+https://github.com/NVIDIA/TransformerEngine.git@${TE_TAG}
unstructured==0.14.9
wget
wrapt
