# Minimal set of NeMo requirements to run vLLM export & deployment in /opt/venv in a NeMo container
braceexpand
# datasets and pandas import are triggered by hydra.utils.instantiate in nemo/export/vllm/model_config.py.
# TODO: remove those dependencies by switching to local nemo.export tokenizers.
datasets
faiss-cpu
fiddle
h5py
hydra-core>1.3,<=1.3.2
ijson
jieba
lightning>2.2.1
matplotlib>=3.3.2
nvtx
omegaconf<=2.3
onnx>=1.7.0
OpenCC
pandas
pangu
rouge_score
sacrebleu
scikit-learn
transformers==4.51.3
vllm==0.8.5.post1
webdataset>=0.2.86
wget
zarr>=2.18.2,<3.0.0
