braceexpand
editdistance
g2p_en
inflect
ipywidgets
jiwer
kaldi-python-io
kaldiio
librosa>=0.9.0
marshmallow
matplotlib
packaging
pyannote.core
pyannote.metrics
pydub
ruamel.yaml
scipy>=0.14
soundfile
sox
texterrors
