hydra-core>=1.2.0,<1.3
omegaconf>=2.2,<2.3
pytorch-lightning>=1.8.3,<1.9
pyyaml<6  # Pinned until omegaconf works with pyyaml>=6
torchmetrics>=0.4.1rc0,<=0.10.3
transformers>=4.0.1,<=4.21.2
wandb
webdataset>=0.1.48,<=0.1.62
