fiddle
huggingface_hub>=0.20.3,<0.24.0  # 0.24.0 breaks huggingface_hub imports in 'nemo/core/classes/mixins/hf_io_mixin.py'
numba
numpy>=1.22
onnx>=1.7.0
python-dateutil
ruamel.yaml
scikit-learn
setuptools>=65.5.1
tensorboard
text-unidecode
torch
tqdm>=4.41.0
wget
wrapt
