addict
basicsr
black==19.10b0
click==8.0.2
clip
diffusers>=0.19.3
einops_exts
imageio-ffmpeg
isort>5.1.0,<6.0.0
kornia
nerfacc>=0.5.3
open_clip_torch
opencv-python>=4.8.0.74
parameterized
PyMCubes
pymeshlab
pytest
pytest-runner
ruamel.yaml
sphinx
sphinxcontrib-bibtex
taming-transformers
torchdiffeq
torchsde
trimesh
wandb
wget
wrapt
xatlas
yapf