black==19.10b0
click==8.0.2
clip
imageio-ffmpeg
isort>5.1.0,<6.0.0
open_clip_torch
parameterized
pytest
pytest-runner
ruamel.yaml
sphinx
sphinxcontrib-bibtex
taming-transformers
wandb
wget
wrapt
addict
basicsr
kornia
nerfacc>=0.5.3
nvdiffrast
diffusers>=0.19.3
einops_exts
flash-attn>=2.0.1
opencv-python>=4.8.0.74
PyMCubes
pymeshlab
taming-transformers
torchdiffeq
torchsde
trimesh
xatlas
yapf