accelerate
fastapi
# Versions less than 0.5.3 causes installation error on dependency
nvidia-pytriton>=0.5.3 ; platform_system != 'Darwin'
pydantic-settings
tensorstore<0.1.72; platform_system != 'Darwin'
uvicorn
zarr>=2.18.2,<3.0.0
