# core
numpy>=1.18.2
onnx>=1.7.0
pytorch-lightning>=0.8.5
python-dateutil
torch
wget
wrapt
ruamel.yaml
scikit-learn
hydra-core==1.0.0rc2

# test
black
isort[requirements] < 5
parameterized
pytest
pytest-runner
sphinx
sphinxcontrib-bibtex


# doc
latexcodec
sphinx_rtd_theme


# cv
pillow
torchvision

# asr
braceexpand
editdistance
frozendict
inflect
kaldi-io
librosa
marshmallow
packaging
num2words
soundfile
sox
torch-stft
unidecode
webdataset
kaldi-python-io
scipy
pandas

# nlp
boto3
h5py
matplotlib
sentencepiece
torchtext
transformers>=2.11.0
youtokentome
tqdm>=4.41.0
rapidfuzz
gdown
megatron-lm>=1.1.3

# tts
pypinyin
attrdict
