boto3
einops
faiss-cpu
fasttext
flask_restful
ftfy
gdown
gradio>=3.28.3
h5py
ijson
inflect
jieba
markdown2
matplotlib>=3.3.2
megatron_core==0.1.0
nltk>=3.6.5
opencc
pangu
rapidfuzz
rouge_score
sacrebleu[ja]
sentence_transformers
