boto3
frozendict
h5py
html2text
inflect
ipdb
ipython[all]
jupyterlab
kaldi-io
librosa
marshmallow
matplotlib
nltk
num2words
onnx
pandas
pillow>=4.3.0
progressbar
requests
ruamel.yaml
sentencepiece
six
sox
torch
tqdm
unidecode
wget
youtokentome