accelerated-scan
boto3
causal-conv1d==1.2.0.post2
einops
faiss-cpu
fasttext
flask_restful
ftfy
gdown
h5py
ijson
jieba
markdown2
matplotlib>=3.3.2
#megatron_core>0.6.0 # add back once mcore on pypi is compatible again
nltk>=3.6.5
opencc<1.1.7
pangu
rapidfuzz
rouge_score
sacrebleu  # manually install sacrebleu[ja] for Japanese support; MeCab is unsupported in Python 3.11+
sentence_transformers
tensorstore<0.1.46
zarr
